.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-bar a {
  font-size: 1.4rem;
  text-decoration: none;
}
